<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="w3-display-container w3-container no-margin" style="padding:0">
    <img src="http://k36.kn3.net/taringa/2/1/4/9/7/2/36/zbosterowtc/498.jpg?2003" alt="Planeta" style="width:100%">
    <div class="w3-display-topleft" style="padding:24px 48px">
      <h5 class="w3-jumbo w3-hide-small">El mundo te necesita</h5>
      <h5 class="w3-jumbo w3-hide-small"><i>Ahora</i></h5>
      <h5 class="w3-hide-large w3-hide-medium">New arrivals</h5>
      <h5 class="w3-hide-small w3-display-center">HAS TU APORTE</h5>

    <p class="w3-xlarge w3-hide-medium">¿Y tu qué puedes hacer? <i class="fa fa-envira"></i></p>
			<%= link_to "Ingresar", new_eco_user_session_path, class:"w3-button w3-black w3-padding-large w3-large "%>
    </div>
  </div>

<% if eco_user_signed_in? %>
  <h2>Valar Morghulis <%= current_eco_user.email %></h2>
<%else%>
  <h2>Pagina principal</h2>
<%end%>
    <p class="w3-right">
      <i class="fa fa-shopping-cart w3-margin-right"></i>
      <i class="fa fa-search"></i>
    </p>
