html, body{
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	background: #D6F2D3;
}
.btn{
	background-color: inherit;
	border: none;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 1.2em;
	padding: 7px 7px;
	border-radius: 20px;
}
.btnEliminar{
	background-color: inherit;
	color: #30BF31 !important;
}
a,a:visited{
	color: inherit;
	text-decoration: none;
}
.menuar{
	padding: 1em 7px;
}
.menuar:hover{
	background-color: hsla(128,80,30,1);
}
.be-green{
	background-color: #30BF31;
}
.white{
	color: #EBF2E9 !important;
}
.large-padding{
	padding: 7px 5px;
}
.no-margin{
	margin: 0;
}
#tam_logo{
	font-size: 2em;
}
.field,.top-space,.actions{
	margin-top: 1em;
}
.form-control{
	border:none;
	border: 2px solid #ccc;
    outline: none;
	width: 60%;
	margin-left: auto;
    margin-right: auto;
	display: block;
	padding: 10px 0px;
	font-size: 1.2em;
	border-radius: 4px;
    background-color: #f8f8f8;
}